.conteiner-general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

@media (max-width: 320px) {
    .conteiner-general {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .conteiner-general {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-end: 3;
        grid-row-start: 1;
    }
}

.div {
    height: 220px;
    margin: 5px;
    background-color: blue;
}

.div1 {
    height: 220px;
    margin: 5px;
    background-color: gold;
}

.div2 {
    height: 220px;
    margin: 5px;
    background-color: red;
}

.div3 {
    height: 220px;
    margin: 5px;
    background-color: violet;
}

.div4 {
    height: 220px;
    margin: 5px;
    background-color: cyan;
}

.div5 {
    height: 220px;
    margin: 5px;
    background-color: green;
}

.div6 {
    height: 220px;
    margin: 5px;
    background-color: orangered;
}

.div7 {
    height: 220px;
    margin: 5px;
    background-color: hotpink;
}

.div8 {
    height: 220px;
    margin: 5px;
    background-color: darkblue;
}

