.border {
    border-left: 30px solid mistyrose;
    border-top: 30px solid mistyrose;
    border-right: 10px solid mistyrose;
    border-bottom: 30px solid mistyrose;
    background-color: mistyrose;
    margin-right: 25cm;
}

